
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
body{
    background-color: rgb(196, 120, 136);
    width: auto;
    height: 100%;
    padding: 20px;
}
header{
    background-color: brown;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.212);
}